<form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="form-group">
        <label for="firstName">FirstName</label>
        <input ngControl="firstName" name="firstName" ngModel #firstName="ngModel" id="firstName" type="text" class="form-control"
            required>
        <div *ngIf="firstName.errors && firstName.touched">
            <div class="alert alert-danger" *ngIf="firstName.errors.required">
                Firstname is not valid
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="comment">Comment</label>
        <textarea ngControl="comment" name="comment" ngModel #comment="ngModel" id="comment" cols="30" rows="10" class="form-control"
            required></textarea>
        <div *ngIf="comment.errors && comment.touched">
            <div class="alert alert-danger" *ngIf="comment.errors.required">
                Comment is not valid
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
</form>