
<form #f="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" ngModel #name="ngModel" class="form-control" id="name" required minlength="3">
    </div>
    <div *ngIf="name.touched && name.errors">
        <div class="alert alert-danger" *ngIf="name.errors.required">
            Name required
        </div>
        <div class="alert alert-danger" *ngIf="name.errors.minlength">
            Name should be min 3 characters
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" ngModel #email="ngModel" class="form-control" id="email" required>
    </div>
    <div *ngIf="email.touched && email.errors">
        <div class="alert alert-danger" *ngIf="email.errors.required">
            Email required
        </div>
    </div>

    <div class="form-group">
        <label for="emailFrequency">Frequency of emails</label>
        <div>
        <select name="emailFrequency" ngModel #emailFrequency="ngModel" class="form-control" id="emailFrequency" required> 
                <option></option>               
                <option value="1">Weekly</option>
                <option value="2">Fortnightly</option>
                <option value="3">Monthly</option>
        </select>
        </div>
    </div>
    <div *ngIf="emailFrequency.touched && emailFrequency.errors">
        <div class="alert alert-danger" *ngIf="emailFrequency.errors.required">Email Frequency required</div>
    </div>    
   <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Subscribe</button>
</form>

